button {
    background-color: transparent;
    letter-spacing: 2px;
    padding: 12px;
    border: solid white;
    transition:0.25s;
    border-radius: 15px;
    font-size: 18px;
    font-weight:600;
    text-transform:uppercase;
    cursor: pointer;
    font-family: 'Lato';


    &:hover {
        background-color: #a8a7ae;
        color: #0f0f0f;
        
    }
}
