.sectionNinja {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    font-size: 36px;
    z-index: 1;
    margin-bottom: 5vh;
    width: 100%;
    gap: 10px;
}

.sectionNinja:before {
  content: "";
  background-image: url(../images/bgNinja.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.sectionNinja .logo {

  display: flex;

  height: 70px;
  transition: 0.2s;
  padding: 50;

  &:hover {
      opacity: 80%;
      
  }


}
 
 