header {

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1% 2%;


    .logo {
        color: #a8a7ae;
        font-size: 42px;
        text-decoration: none;
    }


    nav a {
        display:inline-block;
	    color: #fff;
        font-size: 18px;
	    padding: 20px;
	    text-decoration:none;
	    text-transform:uppercase;
	    border-radius:5px;
	    font-weight:600;
	    transition:0.25s;
        letter-spacing: 2px;
        margin-right: 25px;

        &:hover {
            color: #6ec1e4;
            
        }
    }

}