.ListeJeux {

    text-align: center;
 
    .sectionListeJeux {
     width: 70%;
     margin: auto;
     margin-bottom: 5vh;
    }
 
 }

 .titrePage {
    margin-top: 5vh;
    margin-bottom: 10vh;
 }
 