.sectionApropos {
    width: 70%;
    margin: auto;

    .titrePage {
        margin-top: 5vh;
    }

    .AboutMe {
        margin-top: 5vh;
        display: flex;
        align-items: center;
        gap: 10vw;
    }

    .presentation {

        text-align: left;
        margin: auto;
    }

    .gif {
        height: 300px;
        align-items: center;
        
    }

    .inspiration {

        height: 100px;
    }



.create {
    width: 50%; 


}


}
